body {
    background-color: lightgray;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  div {
    margin: 20px;
    padding: 20px;
  }

  .ResName{
    text-align: center;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Trees_in_ICM_on_Myrstigen_hiking_trail%2C_Brastad_2.jpg/640px-Trees_in_ICM_on_Myrstigen_hiking_trail%2C_Brastad_2.jpg");
  }

  .MenuColumnPhotos {
    display: flex; /* Makes the child elements align in a row */
    gap: 20px; /* Adds space between columns */
    background-color: darkblue;
  }
  
  .Column {
    flex: 1; /* Makes columns grow equally to fill the container */
    padding: 10px;
    /* Add other styling as needed */
  }
  
 

  h1 {
    color: black;
    font-size: 54px;
    background-color: rgba(0, 0, 0, 0.258);
  }



  
  h2{
    font-size: 24px;
  }

  ul{
    list-style-type: none;
    text-align:center;
    font-size: 24px;

  }
  
  p {
    font-size: 24px;
    line-height: 1.5;
  }
  