body {
    background-color: lightgray;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  div {
    margin: 20px;
    padding: 20px;
  }

  .ResName{
    background-color: navy;
  }
 

  h1 {
    color: darkgray;
    font-size: 54px;
  }
  
  h3{
    font-size: large;
  }

  ul{
    list-style-type: none;
    text-align:center;
    font-size: medium;
  }
  
  p {
    font-size: 20px;
    line-height: 1.5;
  }
  