
.container {
    display: flex; /* Makes child items sit side-by-side */
    justify-content: space-around; /* Optional: Distributes space evenly */
    padding-bottom: 30px;
  }
  
  .fact {
    /* Optional styling */
    padding: 10px;
    border: 1px solid black;
    flex: 1; /* Optional: Makes items grow to fill equal width */
  }

  .corp {
    /* Optional styling */
    padding: 10px;
    border: 1px solid black;
    flex: 1; /* Optional: Makes items grow to fill equal width */
  }

  header{
    background-color: cadetblue;
    justify-content: center;
    padding: 20px;
  }
  
  h1{
    justify-self: center;
    font-size: 75px;
    color: black;
    margin: 20px;
    font-family: "Yellowtail", cursive;
  }

  h2{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    text-align: center;  
    padding: 10px;
    margin: 10px;
    color: rgb(52, 52, 52);
  }

  h3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;  
    padding: 10px;
    margin: 10px;
    color: rgb(52, 52, 52);
    line-height: 1.5;
  }

  h4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;  
    color: black;
    line-height: 1.5;
    font-size: 30px;
    padding-top: 15px;
  }

  h5{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;  
    color: black;
    line-height: 1.5;
    font-size: 10px;
    padding-top: 15px;
  }

  #factImg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;           
    width: 100vw;
    padding: 30px;
  }

  #CorpImg{
    display: flex;
    justify-content: center;
    align-items: center;      
    padding: 30px;
  }

  div{
    display: flex;
    justify-content: center;
    align-items: center;     
  }

  #buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 200px; /* Uniform spacing between all buttons */
  }

  #GetFact{
    padding: 10px;
    font-size: large;
    background-color: rgb(216, 194, 154);
  }

  #GetCorp{
    padding: 10px;
    font-size: large;
    background-color: rgb(216, 194, 154);
  }

  footer{
    background-color: cadetblue;
  }

  body{
    background-color: rgb(216, 194, 154);
    font-family: "DM Serif Text", serif;
  }

  .fact{
    background-color: rgb(216, 194, 154);
    text-align: center;  
  }

  .corp{
    background-color: rgb(216, 194, 154);
    text-align: center;  
  }