body {
    background-color: lightgray;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  div {
    margin: 20px;
    padding: 20px;
  }

  .bg-navy {
    background-color: navy; /* Example of a common navy blue hex code */
  }

  .navbar-white{
    color: white;
  }

  .jumbotron{
    text-shadow: 0.25px 0.25px 0.25px #000000;
    align-items: center;
    text-align: center;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Trees_in_ICM_on_Myrstigen_hiking_trail%2C_Brastad_2.jpg/640px-Trees_in_ICM_on_Myrstigen_hiking_trail%2C_Brastad_2.jpg");
  }


  .navbar navbar-expand-lg navbar-light bg-light{
    max-height: 80px;
  }
  
  .Column {
    flex: 1; /* Makes columns grow equally to fill the container */
    padding: 10px;
    /* Add other styling as needed */
  }
  
 

  .jumbotron h1 {
    color: black;
    font-size: 54px;
  }

  .jumbotron h2 {
    color: black;
    font-size: rem.5;
  }



  
  h2{
    font-size: 24px;
  }

  ul{
    list-style-type: none;
    text-align:center;
    font-size: 24px;

  }
  
  p {
    font-size: 24px;
    line-height: 1.5;
  }
  